﻿@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 10;
	src: url('dana/dana-medium.eot');
	src: url('dana/dana-medium.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */
		url('dana/dana-medium.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('dana/dana-medium.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}