﻿@font-face {
	font-family: dana-persian-number;
	font-style: normal;
	font-weight: 10;
	src: url('dana-number/dana-fanum-medium.eot');
	src: url('dana-number/dana-fanum-medium.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */
		url('dana-number/dana-fanum-medium.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('dana-number/dana-fanum-medium.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: YekanNumbers;
	font-style: normal;
	font-weight: 400;
	src: url(./yekan-number/YekanNumbers-Regular.eot) format("embedded-opentype"),
		url(./yekan-number/YekanNumbers-Regular.woff) format("woff"),
		url(./yekan-number/YekanNumbers-Regular.ttf) format("truetype");
}