<div (click)="hasShowDropDown=!hasShowDropDown">
  <div class="header-profile flex items-center flex-row-reverse cursor-pointer">
    <div class="mx-2 mt-2 ">
      <span class="material-symbols-outlined">arrow_drop_down</span>
    </div>
    <p>kamand-sl</p>
    <div class="profile-image-section">
      <span class="material-symbols-outlined">person</span>
    </div>
  </div>

  <div class="profile-menu-section" [hidden]="!hasShowDropDown" (mouseenter)="hasShowDropDown=true">
    <ul>
      <li>
        <a href="#">
          <i class="material-symbols-outlined">person</i>
          Profile
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-symbols-outlined">logout</i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>