@import '../../../../assets/styles/variables.scss';

.header-profile {
    position: relative;
    box-sizing: border-box;
    width: 9.5rem;
    height: 2.5rem;
    background: $header_profile_main_bg_color;
    border: 1px solid $header_profile_color;
    border-radius: 2rem;
    margin-right: 0.75rem;

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $header_profile_text_color;
    }

    .profile-image-section {
        background: $header_profile-image-section;
        border-radius: 197.5px;
        width: 30px;
        height: 30px;
        position: relative;
        left: -12px;

        span {
            position: absolute;
            top: 3px;
            left: 3px;
        }
    }

}

.profile-menu-section {
    position: absolute;
    width: 9.5rem;
    border: 1px solid;
    background: $header_profile_items_bg_color;
    border: 1px solid $header_profile_items_border_color;
    border-radius: 8px;
    top: 3.5rem;
    z-index: 400;

    ul {
        list-style-type: none;
        padding: 10px;
        color: $header_profile_items_text_color;

        li {
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                margin-bottom: 10px;

                i {
                    margin-right: 5px;
                }
            }
        }
    }
}