@import '../../../assets/styles/variables.scss', '../../../assets/styles/badg.scss';

.header {
    width: 100vw;
    height: 4rem;
    background-color: $header_section;
    border-bottom: 1px solid $border_color;
    box-shadow: 0px 4px 10px -4px $border_color;

    .header-logo {
        .logo {
            width: 3rem;
            height: 3rem;
            background-image: url(../../../assets/image/logo.svg);
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: 0.75rem;
        }

        p {
            color: $header_text_color;
            font-weight: 600;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 14px;
            line-height: 18px;
        }
    }

}

.panel-separator {
    border-left: 1px solid $header_profile_border_separator;
}

.icon-color {
    color: $header_profile_icon_color;
}

.badge {
    position: relative;

    p {
        position: absolute;

    }
}