<div class="header w-screen h-screen flex items-stretch justify-between">
  <div class="header-logo flex justify-center items-center">
    <div class="logo"></div>
    <p>Api Manager</p>
  </div>
  <div class="header-panel flex justify-center items-center">
    <div class="flex">
      <div class="ml-3 cursor-pointer">
        <span class="icon-color material-symbols-outlined">bookmark</span>
      </div>
      <div class="ml-3 cursor-pointer" (click)="onChangeStatePanel('notification')">
        <span badge="3">
          <span class="icon-color material-symbols-outlined">notifications</span>
        </span>
      </div>
      <div class="mx-3 cursor-pointer" (click)="onChangeStatePanel('messages')">
        <span class="icon-color material-symbols-outlined">mail</span>
      </div>
    </div>
    <div class="panel-separator flex">
      <div class="ml-3 cursor-pointer">
        <span class="icon-color material-symbols-outlined">search</span>
      </div>
      <div class="mx-3 cursor-pointer">
        <span class="icon-color material-symbols-outlined">question_mark</span>
      </div>
    </div>
    <app-profile></app-profile>
  </div>
</div>