@import '../../../assets/styles/variables.scss';

.panel-sidebar {
    position: relative;


    .sidebar {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 45vh;
        height: 90vh;
        background-color: $sidebar_main_background;
        border: 1px solid $sidebar_main_border;
        border-radius: 24px 0px 0px 24px;
        z-index: 100;

        .tabs-item {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid $header_profile_border_separator;

            div {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                height: 35px;

                .tab-header {
                    position: relative;
                    cursor: pointer;

                    p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        letter-spacing: 0.1px;
                        color: $sidebar_tab_text_color;
                    }

                    .active-text {
                        color: $sidebar_active_tab_text_color;
                        font-weight: bold;
                    }

                    .active-header {
                        position: absolute;
                        height: 3px;
                        width: 100%;
                        bottom: 0px;
                        background: $sidebar_active_tab_text_color;
                        border-radius: 100px 100px 0px 0px;
                    }
                }
            }
        }

        .tabs-data {
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            height: 70vh;

            .tabs-data-main {
                box-sizing: border-box;
                width: 100%;
                padding: 10px;
                background: $sidebar_tab_data_main_background_color;
                border: 1px solid $sidebar_tab_data_main_border_color;
                border-radius: 20px;
                margin-top: 1.25rem;

                .type {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 10px;
                    background-color: $sidebar_tab_data_type_main_color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $sidebar_tab_data_type_font_color;
                }

                .date {
                    color: $sidebar_tab_data_date_font_color;
                    font-size: 0.6rem;
                }

                .fullName {
                    font-size: 1rem;
                    color: $sidebar_tab_data_name_font_color;
                }

                .description {
                    font-size: 0.8rem;
                    color: $sidebar_tab_data_main_border_color;
                }

                .more {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}