<div class="panel-sidebar" *ngIf="(tabState|async) !== 'none'">
  <div class="sidebar">
    <div class="flex flex-row-reverse mt-5 mr-6 cursor-pointer">
      <span class="material-symbols-outlined" (click)="onChangeState('none')">close</span>
    </div>

    <div class="tabs-item mt-5">
      <div class="flex">
        <div class="tab-header" (click)="onChangeState('messages')">
          <p [class.active-text]="(tabState|async) === 'messages'">Messages</p>
          <div class="active-header" *ngIf="(tabState|async) === 'messages'"></div>
        </div>
        <div class="tab-header" (click)="onChangeState('notification')">
          <p [class.active-text]="(tabState|async) === 'notification'">Notifications</p>
          <div class="active-header" *ngIf="(tabState|async) === 'notification'"></div>
        </div>
      </div>
    </div>

    <div class="tabs-data">
      <div class="tabs-data-main" *ngFor="let item of dataSource">
        <div class="flex items-stretch justify-between">
          <div class="type">{{item.type}}</div>
          <div class="date">{{item.date}}</div>
        </div>
        <div class="flex items-stretch justify-between">
          <div>
            <div class="fullName mt-5">{{item.fullName}}</div>
            <div class="description mt-3">{{item.description | slice:0:10}}
              <span [hidden]="item.description.length<10">...</span>
            </div>
          </div>
          <div class="more cursor-pointer">
            <span class="material-symbols-outlined mt-8">navigate_next</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>