@import '../../../assets/styles/variables.scss';
.collapse-menu{
    width: 10vh !important;
}

.menu {
    list-style-type: none;
    padding-left: 10px;
    color: $menu_font_color;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 35vh;
    height: 90vh;
    background-color: $menu_main_background;
    border: 1px solid $menu_main_border;
    border-radius: 0px 24px 24px 0px;
    transition: width 0.25s;

    .collapse-icon{
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        position: absolute;
        border: 0.25rem solid $collapse_border_color;
        background-color: $collapse_bg_color;
        color: $collapse_color;
        right: -18px;
        top: 4rem;
    }

    li {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        width: 100%;
        position: relative;
        cursor: pointer;

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            margin-bottom: 10px;

            i {
                margin-right: 1rem;
            }

            .child {
                position: absolute;
                right: -10px;
            }
        }

        .submenu {
            display: none;
            position: absolute;
            top: 0;
            margin-top: 0.5rem;
            left: 100%;
            padding: 0;
            z-index: 200;
            width: 90%;
            background-color: $menu_main_background;
            border: 1px solid $menu_main_border;
            border-radius: 4px;


            li {
                margin: 0;
                display: flex;
                align-items: center;
                height: 50px;
                padding-left: 10px;
                width: 100% !important;
                position: relative;
                cursor: pointer;

                &:hover {
                    background-color: $menu_font_color_hover;
                }

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: black;
                    margin-top: 1rem;

                    i {
                        margin-right: 1rem;
                    }

                    .child {
                        position: absolute;
                        right: -10px;
                    }
                }

                .submenu-last {
                    display: none;
                    position: absolute;
                    top: 0;
                    margin-top: 0.5rem;
                    left: 100%;
                    padding: 0;
                    z-index: 200;
                    width: 100%;
                    background-color: $menu_main_background;
                    border: 1px solid $menu_main_border;
                    border-radius: 4px;


                    li {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        height: 50px;
                        padding-left: 10px;
                        width: 100% !important;
                        position: relative;
                        cursor: pointer;

                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            color: black;
                            margin-top: 1rem;

                            i {
                                margin-right: 1rem;
                            }

                            .child {
                                position: absolute;
                                right: -10px;
                            }
                        }
                    }
                }

                &:hover .submenu-last {
                    display: block;
                }
            }
        }

        &:hover .submenu {
            display: block;
        }
    }
}