<ul class="menu" [class.collapse-menu]="isCollapse">
  <li class="collapse-icon" (click)="$event.preventDefault();isCollapse=!isCollapse">
    <i class="material-symbols-outlined">{{isCollapse ? 'navigate_next' : 'chevron_left'}}</i>
  </li>
  <li *ngFor="let menu of dataSource">
    <a [href]="menu.path">
      <i class="material-symbols-outlined">{{menu.icon}}</i>
      <span [hidden]="isCollapse">{{menu.title}}</span>
      <i class="material-symbols-outlined child" *ngIf="menu.child && menu.child.length>0">arrow_right</i>
    </a>
    <ul class="submenu" *ngIf="menu.child && menu.child.length>0">
      <li *ngFor="let subMenu of menu.child">
        <a [href]="subMenu.path">
          {{subMenu.title}}
          <i class="material-symbols-outlined child" *ngIf="subMenu.child && subMenu.child.length>0">arrow_right</i>
        </a>
        <ul class="submenu-last" *ngIf="subMenu.child && subMenu.child.length>0">
          <li *ngFor="let lastMenu of subMenu.child">
            <a [href]="lastMenu.path">
              {{lastMenu.title}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>