/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './assets/styles/variables.scss';
@import 'material-icons/iconfont/material-icons.css';
@import 'material-symbols';
@import url('./assets/fonts/font-website.scss');


body {
    box-sizing: 0;
    width: 100%;
    height: 100vh;
    background-color: $main_background;
    font-family: 'dana', Arial, Helvetica, sans-serif;
}