@import 'variables.scss';

[badge]:after {
    background: $badge_danger_color;
    border-radius: 30px;
    color: $badge_danger_text_color;
    content: attr(badge);
    font-size: 11px;
    margin-left: -10px;
    margin-top: -5px;
    min-width: 20px;
    padding-top: 3px;
    position: absolute;
    text-align: center;
}

[badge^="-"]:after,
[badge="0"]:after,
[badge=""]:after {
    display: none;
}