$main_background: #F6F6FB;
$header_section: #ffffff;
$border_color: #AAAAAA;
$header_text_color: #494C5F;
$header_profile_main_bg_color: #F0F0F1;
$header_profile_color: #E0E0E2;
$header_profile_text_color: #3E4151;
$header_profile_items_bg_color: #ffffff;
$header_profile_items_border_color: #E0E0E2;
$header_profile_items_text_color: #424750;
$header_profile_border_separator: #E9EAF3;
$header_profile_icon_color: #424750;
$header_profile-image-section: #D3D7FF;
$badge_danger_color: #FF6666;
$badge_danger_text_color: #331414;
$sidebar_main_background: #ffffff;
$sidebar_main_border: rgba(221, 221, 221, 0.866667);
$sidebar_active_tab_text_color: #6750A4;
$sidebar_tab_text_color: #49454F;
$sidebar_tab_data_main_background_color: #F6F6FB;
$sidebar_tab_data_main_border_color: #D7D9E7;
$sidebar_tab_data_type_main_color: #6675FF;
$sidebar_tab_data_type_font_color: #ffffffff;
$sidebar_tab_data_date_font_color: #424750;
$sidebar_tab_data_name_font_color: #3E4151;
$menu_main_background: #ffffff;
$menu_main_border: rgba(221, 221, 221, 0.866667);
$menu_font_color: #2E303D;
$menu_font_color_hover: #EDEDED;
$collapse_bg_color: #6675FF;
$collapse_border_color: #D3D7FF;
$collapse_color: #ffffff;